<section class="about_wrapper">
    <header>
        <h1>About</h1>
    </header>
    <p>Model–view–controller (usually known as MVC) is a software design pattern commonly used for developing user interfaces that divides the related program logic into three interconnected elements. This is done to separate internal representations of information from the ways information is presented to and accepted from the user</p>
    <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Read more on Wikipedia</a>
    
</section>