<div>
    <div class="single_post">
        <h1 class="titl">{{post.title}}</h1>
        <img src="{{post.img}}" alt="">
        <p class="country">{{post.publish_date}}</p>
        <p class="country">{{post.country}}</p>    
        <p class="country">{{post.content}}</p>  
    </div>

</div>